src/main/webapp/WEB-INF/classes/META-INF/xfire/CalculatorService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="webobjects.xfire.web.ravindra.com"
	attributeFormDefault="qualified" elementFormDefault="qualified"
	targetNamespace="webobjects.xfire.web.ravindra.com">
	<element name="request">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="input1" type="double" />
				<element maxOccurs="1" minOccurs="1" name="input2" type="double" />
				<element maxOccurs="1" minOccurs="1" name="action" type="tns:action" />
			</sequence>
		</complexType>
	</element>
	<element name="response">
		<complexType>
			<sequence>
				<element maxOccurs="1" minOccurs="1" name="success" type="boolean" />
				<element maxOccurs="1" minOccurs="1" name="restult" type="double" />
				<element minOccurs="0" maxOccurs="1" name="errorMessage" type="string" />
			</sequence>
		</complexType>
	</element>
	<simpleType name="action">
		<restriction base="string">
			<enumeration value="ADD" />
			<enumeration value="SUBSTRACT" />
			<enumeration value="MULTIPLY" />
			<enumeration value="DIVIDE" />
		</restriction>
	</simpleType>
</schema>